.jumbotron {
    background-image: url("../images/bluebacteria.jpg");
    background-size: contain;
    text-align: center;
}

.jumbotron h1 {
    color: #fff
}

.jumbotron p{
    color: #fff;
}

body {
    background-color: lightblue
}