/* body {

    color: #f7f7f7;
} */

.jumbotron {
    background-image: url("../images/bacteria.jpg");
    background-size: contain;
    text-align: center;
}

.jumbotron h1 {
    color: #fff
}

.jumbotron p{
    color: #fff;
}